body { background-color: rgb(156, 150, 123);
    font-family: "Open Sans", sans-serif;
    margin: 20px;
}
h1 {
    background-color: rgb(72, 132, 167);
    color: yellowgreen;
    text-align: center;
    padding: 18px;
    font-size: 48px;
}

footer {
    margin-top: 40px;
    text-align: center;
    font-size: 15px;
}